<div class="card mb-3">
  <h2 class="card-header h4">
    Event #<%= event.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Nonprofit</dt>
      <dd>
        <% if @event.nonprofit.present? %>
          <%= link_to event.nonprofit, event.nonprofit %>
        <% end %>
      </dd>

      <dt>Event date</dt>
      <dd><%= event.event_date %></dd>

      <dt>Event description</dt>
      <dd><%= event.event_description %></dd>

      <dt>Confirmed</dt>
      <dd><%= event.confirmed %></dd>

      <dt>Number volunteers</dt>
      <dd><%= event.number_volunteers %></dd>

      <dt>Event time range</dt>
      <dd><%= event.event_time_range %></dd>

      <dt>Event lead</dt>
      <dd><%= event.event_lead %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back event, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_event_url(event), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to event, method: :delete, data: { confirm: "Do you really want to delete this event?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(event.updated_at) %> ago
  </div>
</div>
