<%= search_form_for @q, :class => collapse_search_form, :id => "events_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :event_lead_cont, "Event lead contains" %>
    <%= f.text_field :event_lead_cont, :class => "form-control", :placeholder => "Event lead contains" %>
  </div>

  <div class="form-group">
    <%= f.label :event_time_range_cont, "Event time range contains" %>
    <%= f.text_field :event_time_range_cont, :class => "form-control", :placeholder => "Event time range contains" %>
  </div>

  <div class="form-group">
    <%= f.label :number_volunteers, "Number volunteers" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :number_volunteers_gteq, :class => "form-control", :placeholder => "Number volunteers greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :number_volunteers_lteq, :class => "form-control", :placeholder => "Number volunteers less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :confirmed_eq, "Confirmed" %>
    <div>
      <label class="radio-inline">
        <%= f.radio_button :confirmed_eq, "1", checked: ((params[:q] && params[:q][:confirmed_eq]) == "1" ? "checked" : "") %> Yes
      </label>
      <label class="radio-inline">
        <%= f.radio_button :confirmed_eq, "0", checked: ((params[:q] && params[:q][:confirmed_eq]) == "0" ? "checked" : "")%> No
      </label>
      <label class="radio-inline">
        <%= f.radio_button :confirmed_eq, ""%> Either
      </label>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :event_description_cont, "Event description contains" %>
    <%= f.text_field :event_description_cont, :class => "form-control", :placeholder => "Event description contains" %>
  </div>

  <div class="form-group">
    <%= f.label :event_date, "Event date" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='event_dategteqPicker' data-target-input="nearest">
          <%= f.text_field :event_date_gteq, :class => "form-control datetimepicker-input", :placeholder => "Event date greater than or equal to", :data => {:target => '#event_dategteqPicker'} %>
          <div class="input-group-append" data-target='#event_dategteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='event_datelteqPicker' data-target-input="nearest">
          <%= f.text_field :event_date_lteq, :class => "form-control datetimepicker-input", :placeholder => "Event date less than or equal to", :data => {:target => '#event_datelteqPicker'} %>
          <div class="input-group-append" data-target='#event_datelteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#event_dategteqPicker').datetimepicker({
              format: 'MM/DD/YYYY'
          });
          $('#event_datelteqPicker').datetimepicker({
              useCurrent: false,
              format: 'MM/DD/YYYY'
          });
          $('#event_dategteqPicker').on("dp.change", function (e) {
              $('#event_datelteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#event_datelteqPicker').on("dp.change", function (e) {
              $('#event_dategteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :nonprofit_name_cont, "Nonprofit name contains" %>
    <%= f.text_field :nonprofit_name_cont, :class => "form-control", :placeholder => "Nonprofit name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :owner_user_email_cont, "Owner user email contains" %>
    <%= f.text_field :owner_user_email_cont, :class => "form-control", :placeholder => "Owner user email contains" %>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/events" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#events_filters">
  Show filters
</a>
