<div class="card mb-3">
  <h2 class="card-header h4">
    Nonprofit #<%= nonprofit.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Name</dt>
      <!-- Display name start -->
      <dd><%= nonprofit.name %></dd>
      <!-- Display name end -->

      <dt>Category</dt>
      <!-- Display category start -->
      <dd><%= nonprofit.category %></dd>
      <!-- Display category end -->

      <dt>Mission</dt>
      <!-- Display mission start -->
      <dd><%= nonprofit.mission %></dd>
      <!-- Display mission end -->

      <dt>Contact name</dt>
      <!-- Display contact_name start -->
      <dd><%= nonprofit.contact_name %></dd>
      <!-- Display contact_name end -->

      <dt>Contact email</dt>
      <!-- Display contact_email start -->
      <dd><%= nonprofit.contact_email %></dd>
      <!-- Display contact_email end -->

      <dt>Contact phone</dt>
      <!-- Display contact_phone start -->
      <dd><%= nonprofit.contact_phone %></dd>
      <!-- Display contact_phone end -->

      <dt>Owner user</dt>
      <!-- Display owner_user_id start -->
      <dd><%= nonprofit.owner_user_id %></dd>
      <!-- Display owner_user_id end -->

      <dt>Status</dt>
      <!-- Display status start -->
      <dd><%= nonprofit.status %></dd>
      <!-- Display status end -->

      <dt>Notes</dt>
      <!-- Display notes start -->
      <dd><%= nonprofit.notes %></dd>
      <!-- Display notes end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back nonprofit, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link nonprofit start -->
      <div class="col">
        <% if current_user == @nonprofit.owner_user %>
          <%= link_to edit_nonprofit_url(nonprofit), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>
      <!-- Edit link nonprofit end -->

      <!-- Delete link nonprofit start -->
      <div class="col">
        <% if current_user == @nonprofit.owner_user %>
          <%= link_to nonprofit, method: :delete, data: { confirm: "Do you really want to delete this nonprofit?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
      <!-- Delete link nonprofit end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(nonprofit.updated_at) %> ago
  </div>
</div>
