<div class="card mb-3">
  <h2 class="card-header h4">
    Nonprofit #<%= nonprofit.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Name</dt>
      <dd><%= nonprofit.name %></dd>

      <dt>Category</dt>
      <dd><%= nonprofit.category %></dd>

      <dt>Mission</dt>
      <dd><%= nonprofit.mission %></dd>

      <dt>Contact name</dt>
      <dd><%= nonprofit.contact_name %></dd>

      <dt>Contact email</dt>
      <dd><%= nonprofit.contact_email %></dd>

      <dt>Contact phone</dt>
      <dd><%= nonprofit.contact_phone %></dd>

      <dt>Owner user</dt>
      <dd>
        <% if @nonprofit.owner_user.present? %>
          <%= link_to nonprofit.owner_user, nonprofit.owner_user %>
        <% end %>
      </dd>

      <dt>Status</dt>
      <dd><%= nonprofit.status %></dd>

      <dt>Notes</dt>
      <dd><%= nonprofit.notes %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back nonprofit, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_user == @nonprofit.owner_user %>
          <%= link_to edit_nonprofit_url(nonprofit), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @nonprofit.owner_user %>
          <%= link_to nonprofit, method: :delete, data: { confirm: "Do you really want to delete this nonprofit?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(nonprofit.updated_at) %> ago
  </div>
</div>
