<% was_validated = nonprofit.errors.any? %>

<%= form_with(model: nonprofit, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = nonprofit.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <% if name_was_invalid %>
      <% nonprofit.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% category_class = "form-control" %>
    <% category_was_invalid = nonprofit.errors.include?(:category) %>

    <% if was_validated %>
      <% if category_was_invalid %>
        <% category_class << " is-invalid" %>
      <% else %>
        <% category_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :category %>
    <%= f.text_field :category, class: category_class, placeholder: "Enter category" %>
    <% if category_was_invalid %>
      <% nonprofit.errors.full_messages_for(:category).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% mission_class = "form-control" %>
    <% mission_was_invalid = nonprofit.errors.include?(:mission) %>

    <% if was_validated %>
      <% if mission_was_invalid %>
        <% mission_class << " is-invalid" %>
      <% else %>
        <% mission_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :mission %>
    <%= f.text_area :mission, class: mission_class, placeholder: "Enter mission" %>
    <% if mission_was_invalid %>
      <% nonprofit.errors.full_messages_for(:mission).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% contact_name_class = "form-control" %>
    <% contact_name_was_invalid = nonprofit.errors.include?(:contact_name) %>

    <% if was_validated %>
      <% if contact_name_was_invalid %>
        <% contact_name_class << " is-invalid" %>
      <% else %>
        <% contact_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :contact_name %>
    <%= f.text_field :contact_name, class: contact_name_class, placeholder: "Enter contact name" %>
    <% if contact_name_was_invalid %>
      <% nonprofit.errors.full_messages_for(:contact_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% contact_email_class = "form-control" %>
    <% contact_email_was_invalid = nonprofit.errors.include?(:contact_email) %>

    <% if was_validated %>
      <% if contact_email_was_invalid %>
        <% contact_email_class << " is-invalid" %>
      <% else %>
        <% contact_email_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :contact_email %>
    <%= f.text_field :contact_email, class: contact_email_class, placeholder: "Enter contact email" %>
    <% if contact_email_was_invalid %>
      <% nonprofit.errors.full_messages_for(:contact_email).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% contact_phone_class = "form-control" %>
    <% contact_phone_was_invalid = nonprofit.errors.include?(:contact_phone) %>

    <% if was_validated %>
      <% if contact_phone_was_invalid %>
        <% contact_phone_class << " is-invalid" %>
      <% else %>
        <% contact_phone_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :contact_phone %>
    <%= f.text_field :contact_phone, class: contact_phone_class, placeholder: "Enter contact phone" %>
    <% if contact_phone_was_invalid %>
      <% nonprofit.errors.full_messages_for(:contact_phone).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.hidden_field :owner_user_id, value: current_user.id %>
  <div class="form-group">
    <% status_class = "form-control" %>
    <% status_was_invalid = nonprofit.errors.include?(:status) %>

    <% if was_validated %>
      <% if status_was_invalid %>
        <% status_class << " is-invalid" %>
      <% else %>
        <% status_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :status %>
    <%= f.text_area :status, class: status_class, placeholder: "Enter status" %>
    <% if status_was_invalid %>
      <% nonprofit.errors.full_messages_for(:status).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% note_class = "form-control" %>
    <% note_was_invalid = nonprofit.errors.include?(:note) %>

    <% if was_validated %>
      <% if note_was_invalid %>
        <% note_class << " is-invalid" %>
      <% else %>
        <% note_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :notes %>
    <%= f.text_area :notes, class: note_class, placeholder: "Enter note" %>
    <% if note_was_invalid %>
      <% nonprofit.errors.full_messages_for(:note).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
