<%= form_with(model: @event, local: true) do |f| %>

  <%= f.hidden_field :nonprofit_id, value: @nonprofit.id %>

  <div class="form-group">
    <%= f.label :event_date %>

    <%= f.date_select :event_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :event_description %>
    <%= f.text_area :event_description, rows: "3", class: "form-control" %>
  </div>

  <div class="form-check">
    <%= f.check_box :confirmed, class: "form-check-input" %>
    <%= f.label :confirmed, class: "form-check-label" %>
  </div>

  <div class="form-group">
    <%= f.label :number_volunteers %>

    <%= f.text_field :number_volunteers, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :event_time_range %>

    <%= f.text_field :event_time_range, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :event_lead %>

    <%= f.text_field :event_lead, class: "form-control" %>
  </div>

  <%= f.submit "Create event", class: "btn btn-block btn-outline-secondary" %>
<% end %>
