<%= search_form_for @q, :class => collapse_search_form, :id => "nonprofits_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :notes_cont, "Notes contains" %>
    <%= f.text_field :notes_cont, :class => "form-control", :placeholder => "Notes contains" %>
  </div>

  <div class="form-group">
    <%= f.label :status_cont, "Status contains" %>
    <%= f.text_field :status_cont, :class => "form-control", :placeholder => "Status contains" %>
  </div>

  <div class="form-group">
    <%= f.label :contact_phone_cont, "Contact phone contains" %>
    <%= f.text_field :contact_phone_cont, :class => "form-control", :placeholder => "Contact phone contains" %>
  </div>

  <div class="form-group">
    <%= f.label :contact_email_cont, "Contact email contains" %>
    <%= f.text_field :contact_email_cont, :class => "form-control", :placeholder => "Contact email contains" %>
  </div>

  <div class="form-group">
    <%= f.label :contact_name_cont, "Contact name contains" %>
    <%= f.text_field :contact_name_cont, :class => "form-control", :placeholder => "Contact name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :mission_cont, "Mission contains" %>
    <%= f.text_field :mission_cont, :class => "form-control", :placeholder => "Mission contains" %>
  </div>

  <div class="form-group">
    <%= f.label :category_cont, "Category contains" %>
    <%= f.text_field :category_cont, :class => "form-control", :placeholder => "Category contains" %>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :owner_user_email_cont, "Owner user email contains" %>
    <%= f.text_field :owner_user_email_cont, :class => "form-control", :placeholder => "Owner user email contains" %>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/nonprofits" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#nonprofits_filters">
  Show filters
</a>
